li{
    display:block;
    padding: 1.5%;
    width:100%;            
    }

.unidad {
    padding-left: 4%;
    color: red;
}      

.leccion{
    color: blue;
}
    .main-content li:hover{    
              opacity: 0.5;
    }
    
    li a{
    text-decoration:none;
    color:black;}
               
    .btn{
        float:right;
     
        margin-right: 8%;
    }
    button {
        bottom:1px;
      cursor:pointer;
      margin-right:8px;
      position:relative;
      padding:4px 11px;
      border:1px solid #0085a6;
      background:none;
      border-radius:3px;
      color:#0085a6;
      font-size:1em;
        transition:all .3s ease-in-out;
    }
    button:hover {background:#0085a6; color:#fff;}

    ul{
        display: block;
    }
