{% extends "nav.html" %}


{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/main_cursos.css' %}"/>
<link rel="stylesheet" href="{% static 'css/temario.css' %}"/>

<style>
   
    .unidad, .repaso{
        padding-left: 4%;        
    }
    .leccion{
        padding-left: 8%;        
    }
</style>

{% endblock %}

{% block title%} Lecciones {% endblock%}

  
<body>

    {% block contenido%}  
        <section class="submenu">
            <div class="nav-submenu">
                <ul class="nav-list-submenu">
                    <li class="item-submenu">
                        <a href="/docente/cursos/temario" class="">Temario</a>                                                      
                    </li>
                    <li class="item-submenu">
                        <a href="/docente/cursos/leccion" class="">Nueva Leccion</a>
                    </li>
                   
               </ul>
            </div>
        </section>

<div class="main-content">     

        <h2 class="section-heading mb-4">{{Leccion}}</h2>
        <div>
            <br>
         <p> 
            {{Leccion.tema}}     <br>
            
        
          
         </p> 
         {% for diccionario in Diccionario %}
            <br>
              {%if diccionario.idLeccion_id == Leccion.idLeccion %}
                    <br>
                    Glosario: <br>
                    {{diccionario.palabra}} <br>
                    {{diccionario.traduccion}} <br>
                    <img  class =""  src = " {{diccionario.imagen.url}} "  alt = " " height="70px" width="90px" >
                    
                {%endif%} 
         {% endfor %}
       
        
        </div>
            {% endblock%}

        </body>
  
</html>