{% extends "nav.html" %}


{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/main_cursos.css' %}"/>
<link rel="stylesheet" href="{% static 'css/temario.css' %}"/>

<style>
   
    .unidad, .repaso{
        padding-left: 4%;        
    }
    .leccion{
        padding-left: 8%;        
    }
</style>

{% endblock %}

{% block title%} Lecciones {% endblock%}

  
<body>

    {% block contenido%}  
        <section class="submenu">
            <div class="nav-submenu">
                <ul class="nav-list-submenu">
                    <li class="item-submenu">
                        <a href="/docente/cursos/temario" class="">Temario</a>                                                      
                    </li>
                    <li class="item-submenu">
                        <a href="/docente/cursos/leccion" class="">Nueva Leccion</a>
                    </li>
                    <li class="item-submenu">
                        <a href="" class="">Eliminar Leccion</a>
                    </li>
               </ul>
            </div>
        </section>

<div class="main-content">     
    
    <form method="post">
        {% csrf_token %}
        <h2>¿Estas seguro que quieres eliminar la leccion  {{ leccion.nombre }} ?</h2>
        <button type="submit">Confirmar</button>
    </form>  


</div>

{% endblock%}

</body>
  
</html>