{% extends "nav.html" %}


{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/main_cursos.css' %}"/>
<link rel="stylesheet" href="{% static 'css/temario.css' %}"/>

<style>
   
    .unidad, .repaso{
        padding-left: 4%;        
    }
    .leccion{
        padding-left: 8%;        
    }
</style>

{% endblock %}

{% block title%} Lecciones {% endblock%}

  
<body>

    {% block contenido%}  
        <section class="submenu">
            <div class="nav-submenu">
                <ul class="nav-list-submenu">
                    <li class="item-submenu">
                        <a href="/docente" class="">Principal</a>
                    </li>
                    <li class="item-submenu">
                        <a href="" class="">Agregar Actividad</a>                                                      
                    </li>
                    <li class="item-submenu">
                            <a href="/docente/cursos/leccion" class="">Agregar Leccion</a>                                                      
                    </li>
                    <li class="item-submenu">
                            <a href="" class="">Diccionario</a>                                                     
                    </li>
                </ul>
            </div>
        </section>

<div class="main-content">     
    
    
    
        <!-- Proyecto -->
        <ul> 
          
            
                {% for leccion in Leccion%}
                      <li class="unidad">Unidad.-  {{unidad.nombre}}</li>
                        <li class="leccion">Leccion.-  {{leccion.nombre}}</li>
                         <p>    Tema: {{leccion.tema}} </p>                                  
                {% endfor %}
           
    
         </ul>  
<br>
</div>
            {% endblock%}

        </body>
  
</html>