{% extends "nav.html" %}

<!-- {% url 'portafolio' %} -->
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/main_cursos.css' %}"/>
<link rel = "hoja de estilo" href = " {% static 'css/custom_ckeditor.css'%}"/>
<style>
   
</style>

{% endblock %}

{% block title%} Nueva Leccion {% endblock%}

  
<body>

    {% block contenido%}  
    <!--Submenu-->
        <section class="submenu">
            <div class="nav-submenu">
                <ul class="nav-list-submenu">
                    <li class="item-submenu">
                        <a href="/docente/cursos/temario" class="">Temario</a>                                                      
                    </li>
                    
                </ul>
            </div>
        </section>
        <!--Contenido-->
        <div class="main-content"> 
                      
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Guardar</button>
            </form>
        </div>
    {% endblock%}

</body>
  
</html>