{% extends "nav.html" %}

<!-- {% url 'portafolio' %} -->
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/main_cursos.css' %}"/>

<style>
   
</style>

{% endblock %}

{% block title%} Nueva Unidad {% endblock%}

  
<body>

    {% block contenido%}  
    <!--Submenu-->
        <section class="submenu">
            <div class="nav-submenu">
                <ul class="nav-list-submenu">
                    <li class="item-submenu">
                        <a href="/docente/cursos/temario" class="">Temario</a>                                                      
                    </li>
                </ul>
            </div>
        </section>
        <!--Contenido-->
        <div class="main-content"> 
                
            
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Guardar</button>
                </form>
            <!--
                <label>Curso </label> 
                <select class="form-control">
                    {% for curso in Cursos %}
                        <option value="{{curso.idCurso}}}">{{curso.nombre}}</option>
                    {%endfor%}
                </select>
                    <br>
                <label>Nombre de la unidad </label> 
                <input type="text" name="unidad">
                    <br>    
                    <hr>
                <p> Lecciones </p>
                <label>Titulo </label> 
                    <input type="text" name="titulo"> <br>
                <label> Descripción </label> 
                    <input type="text" name="descripcion"> <br>
                    <hr>
                <p> Palabras Claves </p>
                <label>palabra </label> 
                    <input type="text" name="palabra"> <br>
                <label> Significado </label> 
                    <input type="text" name="significado"> <br>
                <label> Imagen </label> 
                    <button class="btn"> 
                        <img src="../../../static/cursos/img/add.png" alt= "Error en imagen" height="15" width="15" > </a>
                    Añadir imagen 
                    </button> 
                    <br>
                    <button class="btn-save"> 
                        <img src="../../../static/cursos/img/add.png" alt= "Error en imagen" height="15" width="15" > </a>
                    Guardar 
                    </button> 
-->
        </div>
    {% endblock%}

</body>
  
</html>