{% extends "nav.html" %}


{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/main_cursos.css' %}"/>
<link rel="stylesheet" href="{% static 'css/temario.css' %}"/>

<style>
   
    .unidad, .repaso{
        padding-left: 4%;        
    }
    li .leccion{
        padding-left: 8%;
        text-decoration: none;        
    }
    a {text-decoration: none;
    text-decoration-line: none;}
</style>

{% endblock %}

{% block title%} Temario {% endblock%}

  
<body>

    {% block contenido%}  
        <section class="submenu">
            <div class="nav-submenu">
                <ul class="nav-list-submenu">
                    <li class="item-submenu">
                        <a href="/docente" class="">Principal</a>
                    </li>
                    <li class="item-submenu">
                        <a href="/docente/cursos/unidad" class="">Agregar Unidad</a>                                                      
                    </li>
                    <li class="item-submenu">
                            <a href="/docente/cursos/leccion" class="">Agregar Leccion</a>                                                      
                        </li>
                </ul>
            </div>
        </section>

<div class="main-content">     
    
    
    {% for curso in Cursos %}
        <!-- Proyecto -->
        <ul> 
          <li>Curso.- {{curso.nombre}}</li>
            {% for unidad in Unidad%}
                {%if unidad.idCurso_id == curso.idCurso%}
                <li class="unidad">Unidad.-  {{unidad.nombre}}</li>
                    {% for leccion in Leccion%}
                        {%if leccion.idUnidad_id == unidad.idUnidad%}
                            <a href="/docente/cursos/lecciones">
                                <li class="leccion">Leccion.-  {{leccion.nombre}}</li>
                            </a>
                        {% endif %}
                    {% endfor %}
                <li class="repaso">Repaso de la Unidad</li>
                {% endif %}
            {% endfor %}
    {% endfor %}
         </ul>  
<br>
</div>
            {% endblock%}

        </body>
  
</html>